body {
  background: papayawhip;
  text-align: center;
  font-size: xx-large;
}

.container {
  display: flex;
    min-height: 100vh; /* 100% of browser window */
    flex-direction: column;
    justify-content: space-between;
}

.container div {
  margin: .5em;
}

.a {
  background-color: red;
  flex-grow: 1;
}

.b {
  background-color: green;
  flex-grow: 3;
}

.c {
  background-color: blue;
  flex-grow: 1;

}

.d {
  background-color: red;
  flex-grow: 1;

}

.e {
  background-color: green;
  flex-grow: 1;

}

.f {
  background-color: blue;
  flex-grow: 1;

}